.logo {
    background-image: url("../images/logo-wvh.png");

}

.splash {
    background-image: url("../images/splash.png");
}


body {
    --pb-header-background-image: var(--pb-mar-color);    
    --pb-mar-color: #3d3224;
    --pb-mar-color-dark: #a38566;
    --pb-menubar-color: var(--pb-mar-color);
    --pb-menubar-background-image: url("../images/klassik.png");
    --pb-color-focus: var(--pb-mar-color);
    --pb-lang-input-color: var(--pb-mar-color);
    --pb-lang-label-color: var(--pb-mar-color);
    --pb-toolbar-color: white;   
    --pb-toolbar-background-color: var(--pb-mar-color);
    --pb-footnote-ref: {
                        font-size: .85em;
                        background-color: rgba (192, 192, 192, 0) !important;
                        text-decoration: none;
                        text-indent: 0;
                    };
}
body .menubar {
    padding:0 16px 0 0;
    margin:0
}

body .menubar .logo {
    margin:0;
    padding:0;
}

.cover-image {
    float: left;
    padding-right: 20px;
}
.pb-page-number {
    color: #083ed1;
    display: block;
    margin: 0.5em 0;
    font-weight: bold;
    font-size: 1em;
    font-family: "Junicode", Georgia, "Times New Roman", serif;
}


.toc {
    font-family: var(--pb-link-font-family);
    font-size: 18px; 
}

.toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toc ul ul {
    margin-left: 28px;
}

.toc li {
    margin-bottom: .5em;
}

.toc li:first-child {
    margin-top: .5em;
}

.toc pb-link {
    display: block;
}

.toc li>pb-link {
    margin-left: 28px;
}

.toc pb-link {
    font-family: var(--pb-link-font-family);
    padding: 4px 8px;
}

.toc pb-link a {
    color: var(--pb-link-color);
    text-decoration: var(--pb-link-text-decoration);
}

.toc h1, .toc h2, .toc h3, .toc h4, .toc h5 {
    font-family: var(--pb-link-font-family);
}

.toc [slot=collapse-trigger] pb-link {
    margin-left: 0px;
}

footer {

                background: rgba(234, 216, 195, 0.7) !important;
                color: rgb(0, 0, 0);
                padding: 10px 20px;
            // position:fixed;
                bottom:0;
            }

note[resp="#leitzmann"] {
  font-style: italic;
}

