app-toolbar {
    --app-toolbar-font-size: 16px;
}


app-toolbar .menuitem {
    display: inherit;
}

app-drawer {
    --pb-lang-item-color: var(--pb-color-primary);
    --pb-lang-input-color: var(--pb-color-primary);
    --pb-lang-label-color: var(--paper-grey-600);
}

.drawer-content {
    overflow: auto;
    height: 100%;
    padding: 8px 10px;
    text-align: left;
}

.drawer-content pb-collapse h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.drawer-content paper-listbox {
    margin: 0;
}

app-drawer .settings, app-drawer pb-collapse {
    display: flex;
    flex-direction: column;
}

app-drawer paper-listbox {
    width: 100%;
}

app-drawer a, app-drawer a:link {
    text-decoration: none;
    color: inherit;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
    display: none;
}

.caveat-content {
    overflow: auto;
    height: 100%;
    padding: 8px 10px;
    text-align: left;
    font-size: smaller;
}

.toolbar {
    justify-content: space-between;
    background-color: var(--pb-toolbar-background-color);
    color: var(--pb-toolbar-color);
}

.toolbar a {
    color: inherit;
    text-decoration: none;
}

body{
    margin:0;
    padding:0;
    border:none;
    width:100vw;
    height:100vh;
    
    
}

.button-link, .section-link{
    padding:1rem;
    filter:brightness(80%);
    color:white;
    text-decoration:none;
    white-space:nowrap;
}
.button-link:hover{
    filter:brightness(100%);
}
.button-link.origin-link{
    background:lightgrey;
    display:block;
    width:fit-content;
    font-size:1rem;
}

.date{
    font-size:1.2rem;
    margin-top:-1.2rem;
    font-style:italic;
    font-weight:300;
}
.demo{
    color:#5e5c5c;
}
.demo-wrap{
    background:rgba(255,255,255,0.9);
    width:fit-content;
    padding:1rem;
    margin:1rem 0;
    border-radius:1rem;
}
.demo-wrap h3{
    margin:0 0 0.5rem 0;
}
h1{
    font-size:4rem;

}
h2{
    font-size:2rem;
}
header{
    grid-area:head;
    background:transparent;
    font-size:1.2rem;
    animation:slideDown 1s forwards;
    transition-timing-function: cubic-bezier(0.640, 0.085, 0.000, 0.995);
    opacity:0;
    color:#3d3224;
    text-shadow:2px 2px white
}
header img{
    width:35%;
    border-radius:1rem;
    margin:0 auto;
    display:block;
    box-shadow:  0px 3px 0px -4px #dce0c2, 0px 1px 15px 10px rgb(255 255 255 / 25%);
    margin-top:2rem;
}
.heart{
    width:24px;
}
.hint{
    background:rgba(255,255,255,0.2);
    padding:1rem;
    border-radius:0.3rem;
    margin-top:2rem;
    width:fit-content;
    font-size:1.2rem;
    /*
        animation:slideDown 1s forwards;
        animation-delay:2s;
        opacity:0;
        transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); /* easeInExpo */
}
[drawer-toggle] {
    padding-right: 0;
}



.menubar pb-media-query {
    flex: 1 0;
}

.menubar a, .menubar paper-menu-button {
    margin: auto 8px;
    display: block;
    color: var(--pb-menubar-color);
    text-decoration: none;
}

.menubar .logo {
    margin: 0 16px 0 0;
}

.menubar .gitlab {
    margin-left: 16px;
    margin-right: 16px;
}

.menubar .gitlab img {
    height: 32px;
}

.menubar pb-login {}

.menubar pb-lang {
    text-align: right;
    flex: 1 0;
    --pb-lang-item-color: var(--pb-menubar-color);
}

.menubar paper-item a {
    color: var(--pb-color-primary);
    margin: 0;
}

[main-title] {
    display: inline-block;
}

.logo {
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: left center;
    width: var(--pb-logo-image-width);
    height: var(--pb-logo-image-height);
    cursor: pointer;
}


.durchsuchen{
    grid-area:durchsuchen;
    background:rgba(126, 110, 88, 0.7);
    animation:slideUp 0.6s forwards;
    animation-delay:0.8s;
    opacity:0;
    transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}

.durchsuchen:hover{
    background:rgba(61, 50, 36, 0.7);
}
.durchsuchen a{
    background:#ead8c3;
    color:#3d3224;
    text-decoration:none;
}
.main-grid{
    position:relative;
    height:100vh;
    width:100vw;
    overflow:auto;
    display:grid;
    grid-template-columns:2fr 2fr;
    grid-template-rows:2fr 1fr;
    grid-template-areas:
        "head head"
        "durchsuchen uebersicht";

    background:url('../images/klassik.png');
    background-color:rgba(255,255,255,0.5);
}

.main-grid > * {
    padding:1rem;
}

.origin{
}

.origin::before{
    content:'data kindly provided by';
    display:block;
    font-size:1.4rem;

}
.uebersicht{
    grid-area:uebersicht;
    background: rgba(126, 110, 88, 0.7);
    color: white;
    animation:slideUp 0.6s forwards;
    animation-delay:1s;
    opacity:0;

    transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); /* easeInExpo */
}
.uebersicht:hover{
    background:rgba(61, 50, 36, 0.7)
}
.uebersicht .button-link{
    background:#ead8c3;
    color:#3d3224;
}

.portrait{
    width:33%;
    max-width:280px;
    box-shadow:2px 1px 16px 5px #81b5b1;
    /*position:fixed;*/
    /*left:1rem;*/
    /*top:-60px;*/
    /*clip:rect(0px, 100px,100px,0px);*/
    filter:opacity(0.8);

}
.publisher-logo{
    vertical-align:top;
    display:block;
    width:200px;
    margin:0 auto;
}


section p{
    font-size:1.4rem;
}
section.durchsuchen, section.uebersicht{
    color:white;
}
.section-link{
    padding:1rem;
    filter:brightness(80%);
}
.section-link:hover{
    filter:brightness(100%);
}

.splash {
    background-image: url(resources/images/splash.png);
    visibility:visible;
    opacity:1;
}
.subtitle{
    font-size:2rem;
    line-height:1.2rem;
    font-weight:500;
    letter-spacing:0.9;

}
.about{
    position:fixed;
    top:0;
    left:40%;
    background:rgba(255, 255, 255,0.6);
    display:flex;
    align-items:center;
    z-index:3;
    font-size:1.0rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    animation:fadein 1s forwards;
    animation-delay:2.5s;
    opacity:0;
    transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
    text-align:right;

}
.about .button-link{
    color:#3d3224; 

}

lg {
  display: block;
  text-align: center;
  margin: 1em 0; /* Adds spacing before and after the poem */
}


.tp-link{
    position: fixed;
    z-index: 10;
    background: rgba(255,255,255,0.65);
    top: 35px;
    right: -70px;
    padding: 0 4rem;
    border-top-left-radius: 5px;
    transform: rotate(45deg);
    /*
    animation:fadein 2s forwards;
    animation-delay:3s;
    opacity:0;
    transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
    */
}
/*
.tp-link::before{
    content:"Demo brought to you by";
    white-space:nowrap;
    position:absolute;
    z-index:11;
    font-size:0.8rem;
}*/
.tp-link img{
}

.wrapper{
    width:100vw;

    height:100vh;
    /* set max width if wrapper is wanted to narrow view
    max-width:1200px;
    */
    margin:0 auto
    overflow:auto;

}
@media (max-width: 420px) {
    h1{
        font-size:2.5rem;
    }
    header h2{
        font-size:1.5rem;
    }
    header{
        padding:0.2rem;
    }
    .demo{
        font-size:0.8rem;
    }
    .hint{
        /* display:none; */
    }
    .publisher-logo{
        width:100px;
    }
    section p{
        display:none;
    }
}

@media (max-width: 320px) {
    .hint{
        display:none;
    }
    .heart{
        width:20px;
    }
    .main-grid > * {
        padding:0.2rem;
    }
}

@media (min-width:768px){
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes fadeinletter {
    0% {
        opacity:0;
    }

    75% {
        opacity:1;
    }
    100%{
        opacity:0.7;
    }
}
@keyframes fadeinSlow {
    0% {
        opacity:0;
    }
    30%{
        opacity:0.7;
    }
    100% {
        opacity:1;
    }
}
@keyframes fadeinOut {
    0% {
        opacity:0;
    }
    50%{
        opacity:0.8;
    }
    100% {
        opacity:0.7;
    }
}
@keyframes fadeDemo {
    0% {
        opacity:0;
    }
    75%{
        opacity:1.0;
    }
    100% {
        opacity:0.9;
    }
}
@keyframes slideUp {
    0% {
        opacity:0.3;
        transform:translateY(500px);
    }
    50% {
        opacity:0.7
    }
    100% {
        transform:translateY(0px);
        opacity:1;
    }
}
@keyframes slideUpDurchsuchen {
    0% {
        transform:translateY(100px);
    }
    30% {
        opacity:1.0
    }
    75%{
        opacity:1.0;
    }
    100% {
        transform:translateY(0px);
        opacity:1;
    }
}
@keyframes scaleDownDurchsuchen {
    0% {
        opacity:0;
        transform:scale(1.2);
    }
    100% {
        transform:scale(1);
        opacity:1;
    }
}
@keyframes slideDown {
    0% {
        opacity:0;
        transform:translateY(-500px);
    }
    50% {
        opacity:0.3
    }
    75% {
        opacity:0.5;
    }
    90% {
        opacity:0.9;
    }
    100% {
        transform:translateY(0px);
        opacity:1;
    }
}
footer {

                background: rgba(61, 50, 36, 0.7) !important;
                color: rgb(255, 255, 255);
                padding: 10px 20px;
            // position:fixed;
                bottom:0;
            }